@charset "UTF-8";


body{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    color: #1c1c1c;
    background-color:#F7F7F7;
    letter-spacing: 0.06em;
}
#sp-img-1,#sp-img-2{
    display: none;
}
#pc-img-1{
    width: 580px;
}
#pc-img-2{
    width: 542px;
}
#main-sp{
    display: none;
}
.sp-none{
    display: none;
}
hr{
    height: 4px;
    background-color: #1c1c1c;
}

.margin-span{
    display: block;
    margin-bottom: 10px;
}
a:hover{
     cursor: pointer;
}
.under-y{
    background-color: #FFF500;
}
.under-p{
    background-color: #FF7BD1;
}
.under{
    text-decoration: underline;
}
.inner-caption{
    padding-left: 1em;
}

/*==== 1122追加分 ====*/
.list-1122{
    margin-bottom: 30px;
}
.text-1122{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}
.text-indent-1122{
    font-size: 15px;
    font-weight: 500;
    text-indent: -1em;
    padding-left: 1em;
    margin-bottom: 10px;
}
.text-indent-inner-1122{
    font-size: 15px;
    font-weight: 500;
    margin-left: 2em;
    text-indent: -1em;
    margin-bottom: 5px;
}
#head-1122{
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
}

/*=====　ヘッダー　=====*/

header{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #F7F7F7;
    z-index: 10;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;*/
    transition: 0.2s;
    border-bottom: #1c1c1c 4px solid;
}
.nav-header{
    width: 100%;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 24px auto 32px;
    z-index: 100;
}
.nav-item{
    display: none;
    font-size: 14px;
    font-weight: 900;
    color: #3e3e3e;
    padding-bottom: 3px;
    letter-spacing: 0.125em;
    transition: 0.15s;
    z-index: 1000;
}
.pc-nav-header{
    width: 100%;
    margin-top: -18px;
}
.pc-nav-list{
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 24px auto 32px;
    
}
.pc-nav-item{
    font-size: 14px;
    font-weight: 900;
    color: #3e3e3e;
    padding-bottom: 3px;
    padding: 3px;
    letter-spacing: 0.125em;
    transition: 0.15s;
    
}
.pc-nav-item:hover{
    background-color: #8DE3D9;
    border-radius: 2px;
    transition: 0.2s;
}
.nav-item:hover{
    background-color: #8DE3D9;
    border-radius: 2px;
    transition: 0.2s;
}
.nav-list-open{
    display: block;
}

/*===== ナビ動き =====*/

.nav-btn{
    display: none;
    width: 980px;
    margin: 0 auto;
    padding-top: 20px;
}
.nav-btn-ch{
    position: relative;
    height: 34px;
    width: 32px;
}
.nav-btn-ch:hover{
    cursor: pointer;
}

.nav-line-over,.nav-line-under{
    width: 32px;
    height: 4px;
    background-color: #1c1c1c;
}
.nav-line-over{
    position: absolute;
    top: 0;
    transition: 0.5s;
}
.nav-line-under{
    position: absolute;
    top: 26px;
    transition: 0.5s;
}
.nav-line-center{
    position: absolute;
    display: block;
    top: 13px;
}

.open-over{
    transform: translateY(15px) rotate(405deg);
    transition: 0.5s;
    z-index: 100;
    height: 5px;
    width: 28px;
}
.open-under{
    transform: translateY(-11px) rotate(-45deg);
    transition: 0.5s;
    z-index: 100;
    height: 5px;
    width: 28px;
}
.open-header{
    height: 140px;
    transition: 0.2s;
    box-shadow: none;
    border-bottom: 4px solid #1c1c1c;
}


/*===== メインビジュアル =====*/
.main{
    display: block;
    position: relative;
    padding-top: 100px;
}
.main-visual{
    z-index: 0;
}
.copy{
    position: absolute;
    top: 53%;
    left: 8%;
    transform: translateY(-50%);
}
.copy img{
    width: 32vw;
}
.copy-1{
    color: #f7f7f7;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: 0.07em;
    margin-bottom: 15px;
}
.copy-2{
    color: #f7f7f7;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.07em;
    line-height: 2;
}

/*===== SCROLL =====*/

.scroll{
    margin-top: 40px;
    margin-bottom: 70px;
}

.square{
    width: 22px;
    height: 52px;
    margin: 0 auto 8px auto;
    border-radius: 50px;
    border: 4px solid #1c1c1c;
    animation: change-color-anim 1.8s  infinite ease-in-out;
}

@keyframes change-color-anim {
	0%{
		background-color: #f7f7f7;
	}
	100%{
		background-color: #8DE3D9;
	}
}

.circle{
    width: 12px;
    height: 12px;
    margin: 2px auto 0 auto;
    border: 4px solid #1c1c1c;
    border-radius: 30px;
    background-color: #F7F7F7;
}

.scroll-text{
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 0.02em;
    text-align: center;
}
.circle {
    animation: move-y 1.8s infinite  ease-in-out;
  }
  @keyframes move-y {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(26px);
    }
  }


/*===== 1. オンライン会場受験とは =====*/

.section{
    width: 980px;
    margin: 0 auto 110px auto;
}

h2{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 25px;
}
.h2-div{
    margin-bottom: 45px;
}

.container{
    display: flex;
    justify-content: space-around;
}

.body-text{
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    margin-top: -8px;
    margin-bottom: 14px;
    letter-spacing: 0.05em;
    line-height: 1.9;
}

.img-about{
    width: 380px;
    height: auto;
    margin-left: 50px;
}

.column{
    border: #1c1c1c solid 4px;
}
.column-1{
    display: flex;
    margin-top: 35px;
    padding: 57px 66px 57px 73px;
    align-items: center;
}
h5{
    font-size: 16px;
    font-weight: 700;
}
.vertical-line{
    width: 4px;
    height: 156px;
    background-color: #1c1c1c;
}
.column-content-1{
    display: block;
}


